{% extends 'admin/adminBase.html.twig' %}

{% block title %}Index des analyses de sortie{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index des anlyses fin de chantier et repli</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('output_new') }}">Ajouter une analyse</a>
            {% if outputs is not empty %}
            <table class="table">
                <thead>
                <tr>
                    <td>Lieu du prélèvement</td>
                    <td>Chantier</td>
                    <td>Phase</td>
                    <td>Gérer</td>
                </tr>
                </thead>
                <tbody>
                {% for output in outputs %}
                <tr>
                    <td>{{ output.location }}</td>
                    <td>{{ output.zone.site.name }}</td>
                    <td>{{ output.zone.category.name }}</td>
                    <td>
                        <a href="{{ path('output_show', {'id': output.id}) }}">... plus de détails</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
                Aucune analyse
            {% endif %}
        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}