{% extends 'admin/adminBase.html.twig' %}

{% block title %}Hello OutputController!{% endblock %}

{% block right %}
    <div class="row">
        <div class="col-6">
            <a href="{{ path('output_new') }}">Ajouter une analyse</a>
            <hr>
            {% if outputs is not empty %}
                {% for output in outputs %}
                    Lieu du prélèvement: {{ output.location }} <br>
                    Chantier:  {{ output.zone.site.name }}
                    Phase: {{ output.zone.category.name }} <a href="{{ path('output_show', {'id': output.id}) }}">... en savoir plus</a><br>
                    <hr>
                {% endfor %}
            {% else %}
                Aucune analyse
            {% endif %}
        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}