{% extends 'admin/adminBase.html.twig' %}

{% block title %}
Admin Users
{% endblock %}

{% block right %}
    User index
    <ul>
        {% for user in users %}
            <li>{{ user.id }} - {{ user.email }} - {{ user.firstname }} {{ user.lastname }} -
                {% if user.site.name is defined %}
                    {{ user.site.name }}
                {% else %}
                    Affecté à aucun chantier
                {% endif %}
                <a href="{{ path('user_edit',{'id':user.id}) }}">Editer</a>
                <br>
                <a href="{{ path('user_show_admin',{'id':user.id}) }}">Plus d'informations</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}