{% extends 'admin/adminBase.html.twig' %}

{% block title %}
Admin Users
{% endblock %}

{% block right %}
    User index
    <ul>
        {% for user in users %}
            <li>{{ user.id }} - {{ user.email }} - {{ user.firstname }} {{ user.lastname }} - {{ user.site.name }}
                <a href="{{ path('user_edit',{'id':user.id}) }}">Editer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}