{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Index du matériel
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index du matériel</h1>
            </div>
        </div>
    </div>
    <hr>
    Matériels index <a href="{{ path('equipment_new') }}">Ajouter un matériel</a>
    <ul>
        {% if equipments is not empty %}
            {% for equipment in equipments %}
                <li>{{ equipment.id }} - {{ equipment.name }} -
                    {% if equipment.site.name is defined %}
                        {{ equipment.site.name }}
                    {% else %}
                        Affecté à aucun chantier
                    {% endif %}
                     <a href="{{ path('equipment_edit',{'id':equipment.id}) }}">Editer</a></li>
            {% endfor %}
        {% else %}
            Aucun matériels d'enregistré
        {% endif %}
    </ul>
{% endblock %}