{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Index du matériel
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index du matériel</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('equipment_new') }}">Ajouter un matériel</a>
            {% if equipments is not empty %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <td>Nom</td>
                            <td>Chantier</td>
                            <td>Type</td>
                            <td>Quantité</td>
                            <td>Gérer</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for equipment in equipments %}
                    <tr data-type="{{ equipment.id }}">
                        <td>{{ equipment.name }}</td>
                        <td>{% if equipment.site.name is defined %}
                                {{ equipment.site.name }}
                            {% else %}
                                Affecté à aucun chantier
                            {% endif %}
                        </td>
                        <td>{{ equipment.category.name }}</td>
                        <td>{{ equipment.number }}</td>
                        <td>
                            <a href="{{ path('equipment_edit',{'id':equipment.id}) }}">Editer</a>
                            <a href="">Détails</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <br>
                Aucun matériel d'enregistré
            {% endif %}
        </div>
        <div id="info" class="col-4">
            Cliquez sur le matériel pour avoir plus de détails sur celui-ci
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        $( function () {
            $('tr').click(function () {
                var elemId = $(this).attr('data-type');
                console.log('tableau', elemId);
                $.ajax( {
                    type: 'POST',
                    url: 'show',
                    data: {
                        search: elemId
                    },
                    success: function(html) {
                        $('#info').html(html);
                    },
                    error: function (data) {
                        console.log('error');

                    }
                } );
            })
        })
    </script>
{% endblock %}