{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Index du matériel
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index du matériel</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('equipment_new') }}">Ajouter un matériel</a>
            {% if equipments is not empty %}
                <table class="table">
                    <thead>
                    <tr>
                        <td>Nom</td>
                        <td>Chantier</td>
                        <td>Type</td>
                        <td>Quantité</td>
                        <td>Historique</td>
                        <td>Gérer</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for equipment in equipments %}
                    <tr>
                        <td>{{ equipment.name }}</td>
                        <td>{% if equipment.site.name is defined %}
                                {{ equipment.site.name }}
                            {% else %}
                                Affecté à aucun chantier
                            {% endif %}
                        </td>
                        <td>{{ equipment.category.name }}</td>
                        <td>{{ equipment.number }}</td>
                        <td>
                            {% for item in equipment.history %}
                                Nombre de chantier: {{ equipment.history|length }} <br>
                                {{ item['site'] }}, à partir du {{ item['date_arrived']['date']|format_date }}
                                <br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('equipment_edit',{'id':equipment.id}) }}">Editer</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <br>
                Aucun matériel d'enregistré
            {% endif %}
        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}