{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Ajout d'un matériel
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Ajouter un matériel</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        {{ form_start(formEquipment) }}
        {{ form_row(formEquipment.name) }}
        {{ form_row(formEquipment.number) }}
        {{ form_row(formEquipment.site) }}
        <br>
        {{ form_end(formEquipment) }}
    </div>
{% endblock %}