{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <main>
        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider-area">
                                Bonjour {{ user.username }} {{ app.user.roles[0]}} <br>

                                {% if app.user.roles[0] == 'ROLE_USER' %}
                                    vous êtes affecté
                                    {% if user.site.name is defined %}
                                        sur le chantier de {{ user.site.name }}
                                        <hr>
                                        {% for zone in user.site.zones %}
                                            Phase : {{ zone.category.name }}
                                            <br>
                                            Analyse initiale:
                                            <br>
                                            {% for initial in zone.initials %}
                                                {{ initial.location }}
                                            {% endfor %}

                                            Analyse en cours de retrait:
                                            <br>
                                            {% for removal in zone.removals %}
                                                {{ removal.location }}
                                            {% endfor %}

                                            Analyse finale:
                                            <br>
                                            {% for output in zone.outputs %}
                                                {{ output.location }}
                                            {% endfor %}
                                            {{ zone.name }}
                                            <hr>
                                        {% endfor %}
                                    {% else %}
                                     nulle part
                                    {% endif %}
                                    Votre coffre-fort numérique -> <a href="https://www.myprimobox.net/Login" target="_blank">MyPrimoBox</a>
                                {% endif %}

                                {% if app.user.roles[0] == 'ROLE_CLIENT' %}
                                    <br>
                                    {% for site in siteClient %}
                                        Votre chantier:
                                        {{ site.name }}
                                        {% for zone in site.zones %}
                                            {{ zone.name }} <br>
                                                Phase : {{ zone.category.name }}
                                                <br>
                                                Analyse initiale:
                                            {% if zone.initials is not empty %}
                                                {% for initial in zone.initials %}
                                                    {{ initial.location }} <br>
                                                {% endfor %}
                                            {% else %}
                                                Rien pour le moment <br>
                                            {% endif %}

                                            Analyse en cours de retrait:
                                            {% if zone.removals is not empty %}
                                                {% for removal in zone.removals %}
                                                    {{ removal.location }} <br>
                                                {% endfor %}
                                            {% else %}
                                                Rien pour le moment <br>
                                            {% endif %}

                                            Analyse finale:
                                            {% if zone.outputs is not empty %}
                                                {% for output in zone.outputs %}
                                                    {{ output.location }} <br>
                                                {% endfor %}
                                            {% else %}
                                                Rien pour le moment <br>
                                            {% endif %}
                                                {{ zone.name }}
                                                <hr>
                                        {% endfor %}
                                    {% endfor %}
                                    <hr>
                                {% endif %}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->


    </main>

{% endblock %}
