{% extends 'admin/adminBase.html.twig' %}

{% block title %}Index des analyses - retrait{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index des analyses en cours de retrait</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('removal_new') }}">Ajouter une analyse</a>
            <hr>
            {% if removals is not empty %}
                {% for removal in removals %}
                    Lieu du prélèvement: {{ removal.location }} <br>
                    Chantier:  {{ removal.zone.site.name }}
                    Phase: {{ removal.zone.category.name }} - <a href="{{ path('removal_show', {'id' : removal.id}) }}">... en savoir plus</a><br>
                    <hr>
                {% endfor %}
            {% else %}
                Aucune analyse
            {% endif %}
        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}