{% extends 'admin/adminBase.html.twig' %}

{% block title %}Index des analyses - retrait{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index des analyses en cours de retrait</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('removal_new') }}">Ajouter une analyse</a>
            {% if removals is not empty %}
            <table class="table">
                <thead>
                <tr>
                    <td>Lieu du prélèvement</td>
                    <td>Chantier</td>
                    <td>Phase</td>
                    <td>Gérer</td>
                </tr>
                </thead>
                <tbody>
                {% for removal in removals %}
                <tr>
                    <td>{{ removal.location }}</td>
                    <td>{{ removal.zone.site.name }}</td>
                    <td>{{ removal.zone.category.name }}</td>
                    <td>
                        <a href="{{ path('removal_show', {'id' : removal.id}) }}">... plus de détails</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
                Aucune analyse
            {% endif %}
        </div>
        <div class="col-4">
            toto
        </div>
    </div>
{% endblock %}