{% extends 'admin/adminBase.html.twig' %}

{% block title %}Index des analyses initiales{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index des analyses initiales</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('initial_new') }}">Ajouter un point zéro</a>
            <table class="table">
                <thead>
                <tr>
                    <td>Lieu du prélèvement</td>
                    <td>Chantier</td>
                    <td>Phase</td>
                    <td>Date</td>
                </tr>
                </thead>
                <tbody>
                {% for initial in initials %}
                <tr data-type="{{ initial.id}}">
                    <td>{{ initial.location }}</td>
                    <td>{{ initial.date|format_date }}</td>
                    <td>{{ initial.zone.site.name }}</td>
                    <td>{{ initial.zone.category.name }}</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <div id="info" class="col-4">
            toto
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        $( function () {
            $('tr').click(function () {
                var elemId = $(this).attr('data-type');
                console.log('tableau', elemId);
                $.ajax( {
                    type: 'POST',
                    url: 'show',
                    data: {
                        search: elemId
                    },
                    success: function(html) {
                        $('#info').html(html);
                    },
                    error: function (data) {
                        console.log('error');

                    }
                } );
            })
        })
    </script>
{% endblock %}