{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Ajout d'une analyse initiale
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Ajout d'un point zéro</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(formInitial) }}
                <div class="row">
                    <div class="col-6">{{ form_row(formInitial.date) }}</div>
                    <div class="col-6">{{ form_row(formInitial.location) }}</div>
                </div>
                {{ form_row(formInitial.zone) }}
                <br>
                Zone à associer à l'analyse:
                <div id="select_zone">
                    <select class="form-control" name="phase-select" id="phase-select" disabled>
                        <option value="">Choisir la zone ci-dessus</option>
                    </select>
                </div>
                <br>
                {{ form_end(formInitial) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('js/jquery.datetimepicker.full.js') }}"></script>
    <script>
        $.datetimepicker.setLocale('fr');

        $('#initial_date').datetimepicker({
            format:'d-m-Y',
            timepicker: false,
        });
    </script>
    <script type="text/javascript">
        $("#initial_zone").change(function () {
            var zone = $(this);

            console.log($("#initial_zone").val(), zone.val());
            $.ajax({
                url: '/initial/zonebysiteid/' + zone.val(),
                dataType: 'html',
                success: function (html) {
                    console.log(html)
                    $('#select_zone').html(html);
                }
            })
        })
    </script>
{% endblock %}