<nav class="navbar">
    <br>
    <a href="{{ path('admin') }}">
    <img class="img-fluid" src="{{ asset('images/logo_dragon.png') }}" alt="">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">Gestion utilisateur</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('client_index') }}">Gestion client</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('site_index') }}">Gestion chantier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('equipment_index') }}">Gestion matériel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('category_index') }}">Gestion catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('initial') }}">Gestion analyse initiale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('removal') }}">Gestion analyse en cours de retrait</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('output') }}">Gestion analyse avant et après repli</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('process_index') }}">Gestion des processus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('mask_index') }}">Gestion des masques</a>
        </li>
    </ul>
</nav>