<a href="{{ path('admin') }}">Logo</a><br>
<hr>
<a href="{{ path('user_index') }}">Gestion utilisateur</a>
<hr>
<a href="{{ path('user_index') }}">Gestion chantier</a>
<hr>
<a href="{{ path('user_index') }}">Gestion matériel</a>
<hr>
<a href="{{ path('user_index') }}">Gestion catégories</a>