{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Edition d'un chantier
{% endblock %}

{% block right %}
    Edition d'un chantier
    <br>
    Données actuelles:
    {{ site.name }}
    <br>
    <ul>
        {% for sitePhase in site.zones %}
            <li class="mb-2">{{ sitePhase.category.name }}  - {{ include('admin/site/_deleteform.html.twig') }}</li>
        {% endfor %}
    </ul>
    <hr>
    {{ form(formSite) }}
    <hr>
    Votre zone n'est pas présente ?
    Ajoutez ci-dessous
    {{ form(formCategory) }}

{% endblock %}

{% block script %}
    <script type="text/javascript">
        console.log('super trop con');
    </script>
{% endblock  %}