{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Edition d'un chantier
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Edition du chantier {{ site.name }}</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div class="col-12">
                        {{ form_start(formSite) }}
                        {{ form_row(formSite.name) }}
                        {{ form_row(formSite.zones) }}
                        <br>
                        {{ form_end(formSite) }}
                        <hr>
                    </div>
                    <div class="col-12">
                        Votre zone n'est pas présente ?
                        Ajoutez ci-dessous la vôtre: <br>
                        {{ form_start(formCategory) }}
                        {{ form_row(formCategory.name) }}
                        <br>
                        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
                        <br>
                        {{ form_end(formCategory) }}
                    </div>
                </div>
            </div>
            <div class="col-5">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Phases en cours</td>
                        <td>Gestion</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sitePhase in site.zones %}
                        <tr>
                            <td>{{ sitePhase.category.name }}</td>
                            <td>{{ include('admin/site/_deleteform.html.twig') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        $( function () {
            $('form[name="category"]').submit(function (event) {
                var category = $('#category_name').val();
                console.log(category);
                $.ajax( {
                    type: 'POST',
                    url: '{{ path('category_new') }}',
                    data: {
                        name: category,
                        type: 'Phase Chantier'
                    },
                    success: function() {
                        console.log('success');
                    },
                    error: function (data) {
                        console.log('error');

                    }
                } );
            })
        })
    </script>
{% endblock %}