{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Index des chantiers
{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>Index des chantiers</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            Chantier index - <a href="{{ path('site_new') }}">Ajouter un chantier</a>
            <ul>
                {% if sites is not empty %}
                    {% for site in sites %}
                        <li>{{ site.id }} - {{ site.name }} - Personnels: {{ site.users|length }} <a href="{{ path('site_edit',{'id':site.id}) }}">Editer</a> -
                        <a href="{{ path('show_site',{'id':site.id}) }}">Plus d'informations</a></li>
                        <hr>
                    {% endfor %}
                {% else %}
                    Aucun chantier d'enregistré
                {% endif %}
            </ul>
        </div>
        <div class="col-4">
            toto
        </div>
    </div>

{% endblock %}