{% extends 'admin/adminBase.html.twig' %}

{% block title %}
    Admin Chantiers
{% endblock %}

{% block right %}
    Chantier index - <a href="{{ path('site_new') }}">Ajouter un site</a>
    <ul>
        {% if sites is not empty %}
            {% for site in sites %}
                <li>{{ site.id }} - {{ site.name }}<a href="{{ path('site_edit',{'id':site.id}) }}">Editer</a></li>
                    <ul>
                        {% for site_user in site.users %}
                            <li>{{ site_user.firstname }} {{ site_user.lastname }}</li>
                        {% endfor %}
                    </ul>
            {% endfor %}

        {% else %}
            Aucun chantier d'enregistré
        {% endif %}
    </ul>
{% endblock %}