{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.processing) }}
    {{ form_row(form.rate) }}
    <br>
    <button class="btn btn-outline-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
