{% extends 'admin/adminBase.html.twig' %}

{% block title %}Process{% endblock %}

{% block right %}
    <div class="container-fluid">
        <div class="row m-3" style="height: 10vh">
            <div class="col-12 text-center">
                <h1>{{ process.name }}</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ process.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ process.name }}</td>
                    </tr>
                    <tr>
                        <th>Reference</th>
                        <td>{{ process.reference }}</td>
                    </tr>
                        <th>Seuil</th>
                    {% if process.rate < 100 %}
                        <td class="bg-info">{{ process.rate }}</td>
                    {% elseif process.rate < 6000 %}
                        <td class="bg-warning">{{ process.rate }}</td>
                    {% elseif process.rate < 25000 %}
                        <td class="bg-danger">{{ process.rate }}</td>
                    {% endif %}
                    <td>
                    <tr>
                        <th>Descriptif</th>
                        <td>{{ process.processing }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('process_index') }}">Retour à la liste</a>

                <a href="{{ path('process_edit', {'id': process.id}) }}">éditer</a>

                {{ include('admin/process/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
